@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-lato: var(--font-lato);
}

body {
  background: var(--background);
  font-family: var(--font-lato), sans-serif;
}
